label 
{
    float: left;
}

.btn-primary {
    background-color: indianred;
    border-color: black;
  }
  
  .btn-primary:active,
  .btn-primary:focus,
  .btn-primary:hover {
    background-color: black !important;
    border-color: #cf353f !important;
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(187, 8, 8, 0.5);
  }
  
  .btn-secondary {
    background-color: #cf353f;
    border-color: #cf353f;
  }
  
  .btn-secondary:active,
  .btn-secondary:focus,
  .btn-secondary:hover {
    background-color: #cf353f !important;
    border-color: black !important;
  }
  
  .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  }
 
  .loginbtn
  {
    color: #fff;
    background-color: indianred;
    border-color: white;
  }

  .inputbox
  {
      background-color: white;
  }